html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
table,
textarea {
    font-size: 16px;
    line-height: 19px;
    color: #303038;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "Apple SD Gothic Neo", Arial, sans-serif;
}

#wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    letter-spacing: -0.2px;
    display: flex;
    background-color: #f2f1f6;
    /*        background-image: url(../KakaoTalk_Image_2021-08-21-13-25-53.jpeg);*/
    /*    background-image: url(../KakaoTalk_Image_2021-08-21-17-27-45.jpeg);*/
    /*    background-image: url(../KakaoTalk_Photo_2021-08-21-20-50-20.jpeg);*/
    /*        background-image: url(../KakaoTalk_Photo_2021-08-21-23-03-26.jpeg);*/
    /*    background-image: url(../KakaoTalk_Photo_2021-08-23-00-37-23.jpeg);*/
    background-image: url(../KakaoTalk_Photo_2021-08-23-01-35-21.jpeg);
    background-size: contain;
}

.column_left {
    display: flex;
    flex: none;
    width: 35%;
    overflow: hidden;
    border-right: 1px solid #dcdbe0;
}

.column_right {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.column_left .appbar {
    padding-top: 80px;
}

.column_left .appbar .navbar .title {
    font-size: 38px;
    color: #000000;
    font-weight: 600;
    line-height: 38px;
    height: 38px;
    padding-top: 7px;
}

.column_left .panel-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    /*    border-right: 1px solid #dcdbe0;*/
}

.panel-left .block {
    padding-left: 21px;
    padding-right: 20px;
}

.panel-left .block + .block {
    display: flex;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}

.panel-left .subnavbar {
    padding-top: 13px;
    padding-bottom: 16px;
}

.searchbar {
    width: 100%;
    position: relative;
}

.searchbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.searchbar-input-wrap {
    flex-shrink: 1;
    width: 100%;
    height: 39px;
    position: relative;
}

.searchbar-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    border: 0px solid transparent;
    appearance: none;
    font-family: inherit;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    background-color: #e4e3e9;
    border-radius: 8px;
    position: relative;
    padding: 0 28px 0 35px;
}

.searchbar-input::placeholder {
    color: #96959b;
    font-weight: 400;
}

.searchbar-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 40;
    left: 10px;
}

.searchbar-icon::after {
    content: "";
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='44'%3E%3Cpath d='M15.27 28.29l-4.06-4.06a6.113 6.113 0 001.35-3.83c0-3.39-2.76-6.15-6.15-6.15-3.39 0-6.15 2.76-6.15 6.15s2.76 6.15 6.15 6.15c1.43 0 2.75-.5 3.8-1.33l4.06 4.06 1-.99zM6.4 25.33a4.93 4.93 0 01-4.92-4.92c0-2.71 2.2-4.92 4.92-4.92s4.92 2.21 4.92 4.92c.01 2.71-2.2 4.92-4.92 4.92z' fill='%23666'/%3E%3C/svg%3E");
    background-size: 18px 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    margin: auto;
}

.menu {
    width: 100%;
}

.menu-inner {
    padding-bottom: 62px;
}

.menu-item {
    position: relative;
    width: 100%;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
}

.menu-item .card {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.menu-item .card-content {
    position: relative;
}

.menu-item .card .list .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    min-height: 89px;
    background-color: #ffffff;
}

.menu-item .card .item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}

.menu-item .card .card-img {
    position: relative;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: #e9e9eb;
}

.menu-item .card .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    margin-left: 18px;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.menu-item .card .item-title-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 9px;
}

.menu-item .card .item-title {
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 24px;
    font-weight: 400;
}

.menu-item .card .item-subtitle {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    font-size: 14px;
    letter-spacing: 0px;
    color: #313131;
}

.menu-list {
    margin-top: 37px;
    position: relative;
}

.menu-list ul {
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

.menu-list li {
    position: relative;
    box-sizing: border-box;
}

.menu-list .item-content {
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: 49px;
}

.menu-list .item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    align-self: flex-start;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 17px;
}

.menu-list .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    display: block;
    align-self: stretch;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    min-height: 49px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-list .item-title-row {
    position: relative;
}

.menu-list .item-title {
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: -0.6px;
    letter-spacing: 0.3px;
    color: #212121;
}

.menu-list li:not(:last-child) .item-inner:after,
.list-group .item-inner:after {
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
}

.column_right .view-main {
    width: 100%;
    position: relative;
}

.navbars .navbar-current {
    display: none;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 12%);
}

.navbar .appbar {
    height: 80px;
    position: relative;
}

.navbar-current .appbar {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d3d3d3;
}

.navbar .appbar-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 17px;
    box-sizing: border-box;
}

.navbar .appbar-inner .left {
    position: absolute;
    left: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 34px;
    color: #1e6bf5;
}

.navbar .appbar-inner .back {
    display: flex;
    justify-content: flex-start;
    font-size: 19px;
}

.navbar .appbar-inner .back ion-icon {
    font-size: 30px;
    position: absolute;
    left: 5px;
    bottom: -5px;
}

.navbar .appbar-inner .title {
    margin: 0 auto;
    font-size: 19px;
    letter-spacing: -0.5px;
    font-weight: 600;
    text-align: center;
}

.navbar-current .navbar-bg {
    height: 64px;
    text-align: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.72);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
}

.navbar-current .navbar-bg .navbar-inner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
}

.navbar .navbar-bg .left,
.navbar .navbar-bg .right {
    position: relative;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 17px;
}

.navbar .navbar-bg .left .back,
.navbar .navbar-bg .right .after {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    position: relative;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    background-color: #cadffc;
    border-radius: 50%;
}

.navbar-current .navbar-bg .left .back ion-icon,
.navbar-current .navbar-bg .right .after ion-icon {
    font-size: 24px;
    margin: 0 auto;
    color: #1e6bf5;
}

.navbar-current .navbar-bg .title {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 10;
    display: inline-block;
    margin: 0 auto;
    font-size: 19px;
    color: #030402;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.column_right .block {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    padding-left: 54px;
    padding-right: 55px;
    padding-top: 18px;
    padding-bottom: 62px;
}

.page-content .subnavbar {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 28px;
}

.subnavbar-inner {
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    overflow: hidden;
}

.subnavbar-inner .segmented {
    align-self: center;
    display: flex;
    /*    flex-wrap: nowrap;*/
    width: 100%;
    position: relative;
    background: #e3e2e8;
    border-radius: 7px;
    box-shadow: none;
    padding: 2px 3px;
    overflow: hidden;
    box-sizing: border-box;
}

.subnavbar-inner .segmented .button {
    text-align: center;
    display: flex;
    width: 100%;
    flex-shrink: 1;
    min-width: 0;
    border-radius: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    height: 30px;
    appearance: none;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.subnavbar-inner .button.tab-link-active {
    background: #ffffff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 25%);
}

.block-title,
.block-footer,
.block-right {
    display: inline-block;
    padding-left: 19px;
    padding-top: 7px;
    padding-bottom: 6px;
    font-size: 14px;
    color: #77767b;
}

.block-footer {
    padding-top: 6px;
    letter-spacing: -0px;
    padding-bottom: 0;
}

.block-right {
    margin-left: 0;
    padding-right: 19px;
    float: right;
    color: #63a1f8;
}

.page-content .card {
    padding-left: 17px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.page-content .card .card-header {
    padding-right: 17px;
    position: relative;
}

.page-content .card .card-header .item-inner {
    padding-top: 22px;
    padding-bottom: 12px;
}

.page-content .card-header .item-subtitle {
    color: #838384;
    font-size: 19px;
}

.page-content .card-header .item-title-row {
    padding-top: 6px;
    position: relative;
}

.page-content .card-header .item-inner .item-title {
    font-size: 37px;
    line-height: 37px;
    height: 37px;
    overflow: hidden;
}

.page-content .card-header .item-inner .item-text {
    color: #757578;
    font-size: 19px;
    position: absolute;
    right: 0;
    bottom: 2px;
    letter-spacing: -0.3px;
}

.page-content .card-header .item-inner .item-text ion-icon {
    position: relative;
    top: 2px;
    right: 2px;
}

.page-content .card-content {
    padding-right: 17px;
    position: relative;
}

.page-content .card-content::after {
    content: "";
    position: absolute;
    background-color: #e5e5e5;
    display: block;
    z-index: 15;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    transform-origin: 50% 100%;
}

.page-content .chart {
    width: 100%;
    height: 120px;
    position: relative;
    background-color: #e9e9eb;
}

.page-content .chart + .chart {
    margin-top: 32px;
}

.page-content .card-content .list,
.page-content .card-content .list li {
    position: relative;
    box-sizing: border-box;
}

.page-content .card-content .list ul {
    padding-top: 12px;
    padding-bottom: 11px;
}

.page-content .card-content .list .item-content,
.page-content .card-content-padding .list .item-content {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.page-content .card-content .list .item-row {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.page-content .card-content .list .item-cell {
    display: block;
    align-self: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 0;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
}

.page-content .card-content .list .item-cell:nth-child(3n + 2) > div {
    text-align: center;
}

.page-content .card-content .list .item-cell:nth-child(3n) > div {
    text-align: right;
}

.page-content .card-content .list .item-cell .item-title {
    font-size: 18px;
    letter-spacing: -1px;
    text-align: left;
    display: inline-block;
}

.page-content .card-content .list .item-cell .item-title .item-header {
    font-size: 17px;
    margin-bottom: 2px;
    color: #838384;
    letter-spacing: -0.3px;
}

.page-content .card-footer .item-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

.page-content .card-footer .item-inner {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    align-self: stretch;
    padding-right: 17px;
    padding-top: 15px;
    padding-bottom: 16px;
}

.page-content .card-footer .item-title {
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 19px;
}

.page-content .card-footer .item-after {
    white-space: nowrap;
    flex-shrink: 0;
    display: flex;
    margin-left: auto;
    font-size: 19px;
    letter-spacing: 0px;
    color: #757578;
}

.page-content .list-group .item-content {
    min-height: 59px;
    position: relative;
}

.page-content .list-group .item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
}



.page-content .list-group .item-media {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1px;
}

.icon-f7 {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    font-style: normal;
    position: relative;
    background: #b2b2b2;
    color: #fff !important;
    border-radius: 50%;
    text-align: center;
    width: 31px;
    height: 31px;
    line-height: 31px;
}

.icon-f7:before {
    content: '7';
}

.page-content .list-group .item-inner {
    margin-left: 17px;
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 36px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 9px;
}

.page-content .list-group .item-title {
    min-width: 0;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
}

.page-content .list-group .item-header {
    font-size: 19px;
}

.page-content .list-group .progress {
    width: 100%;
    height: 15px;
    display: flex;
    align-content: center;
    align-items: center
}

.page-content .list-group .progressbar {
    overflow: hidden;
    position: relative;
    display: inline-block;
    background: #d1d0d5;
    height: 5px;
    border-radius: 5px;
    background: #d1d0d5;
}

.page-content .list-group .progressbar-title {
    font-size: 14px;
    padding-left: 8px;
    color: #c9c9c8;
}

.page-content .list-group ion-icon {
    font-size: 19px;
    position: absolute;
    right: 13px;
    color: #b3b3b5;
}

.card-content-padding + .card-footer .item-inner {
    padding-left: 49px;
    color: #63a1f8;
}
